<!-- <div>
  <ul>
    <li *ngFor="let commentaire of commentaires">
      <p>{{ commentaire.utilisateur }}</p>
      <p>{{ commentaire.texte }}</p>
    </li>
  </ul>
</div>
<form (ngSubmit)="submit()" #commentForm="ngForm">
  <div class="form-group">
    <label for="utilisateur">Nom</label>
    <input
      type="texte"
      id="utilisateur"
      name="nom"
      class="form-control"
      [(ngModel)]="commentaire.utilisateur"
      required
    />
  </div>
  <div class="form-group">
    <label for="texte">Commentaire</label>
    <textarea
      id="utilisateur"
      name="texte"
      class="form-control"
      [(ngModel)]="commentaire.texte"
      required
    ></textarea>
  </div>
  <button (click)="submit()" class="btn btn-primary">
    Ajouter un commentaire
  </button>
</form> -->
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <label for="texte">texte :</label>
    <textarea
      [(ngModel)]="commentaire.texte"
      id="texte"
      class="form-control"
      formControlName="texte"
    ></textarea>
  </div>
  <div>
    <button type="submit" class="btn-outline-primary" [disabled]="form.invalid">
      enregistrer
    </button>
    <a
      *ngIf="commentaire.id"
      routerLink="/client/moncompte"
      routerLinkActive="active"
      class="btn btn-link"
      >annuler</a
    >
    <a
      *ngIf="!commentaire.id"
      routerLink="/restaurant"
      routerLinkActive="active"
      class="btn btn-link"
      >annuler</a
    >
  </div>
</form>
