<div>
  <h2>restaurateur</h2>
  <div>
    <div class="form-group">
      <label
        >id :<input
          [(ngModel)]="restaurateur.id"
          readonly
          class="form-control"
        />
      </label>
    </div>
    <div class="form-group">
      <label
        >nom :<input [(ngModel)]="restaurateur.nom" class="form-control" />
      </label>
    </div>
    <div class="form-group">
      <label
        >prenom :<input
          [(ngModel)]="restaurateur.prenom"
          class="form-control"
        />
      </label>
    </div>
    <div class="form-group">
      <label
        >login :<input [(ngModel)]="restaurateur.login" class="form-control" />
      </label>
    </div>
    <div class="form-group">
      <label
        >mot de passe :<input
          [(ngModel)]="restaurateur.password"
          class="form-control"
        />
      </label>
    </div>
    <div class="form-group">
      <button (click)="save()" class="btn btn-outline-primary">
        enregistrer les modifications
      </button>
      <a routerLink="/restaurateur/moncompte" class="btn btn-outline-warning"
        >annuler</a
      >
    </div>
  </div>
</div>
