<div class="bg-dark position-absolute top-50 start-50 translate-middle rounded">
  <div class="text-light text-center">
    <h1>Incription</h1>
    <div class="m-3">
      vous êtes un :
      <a
        routerLink="/inscription-client"
        routerLinkActive="active"
        class="btn btn-link"
        >Client</a
      >
      <a
        routerLink="/inscription-restaurateur"
        routerLinkActive="active"
        class="btn btn-link"
        >Restaurateur</a
      >
    </div>
  </div>
</div>
