<div
  class="bg-dark m-3 p-3 bg-dark text-light position-relative center rounded"
>
  <table class="table text-light text-center">
    <thead>
      <tr>
        <th>Id:</th>
        <th>Nom:</th>
        <th>Horaire d'ouverture:</th>
        <th>description:</th>
        <th>Adresse:</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of restaurantsRestaurateur">
        <td>{{ r.id }}</td>
        <td>{{ r.nom }}</td>
        <td>{{ r.horaireOuverture }}</td>
        <td>{{ r.description }}</td>
        <td>
          {{ r.adresse?.numero }} {{ r.adresse?.rue }} <br />
          {{ r.adresse?.codePostal }} {{ r.adresse?.ville }}
        </td>
        <td>
          <a
            routerLink="/restau-reservation/{{ r.id }}"
            routerLinkActive="active"
            class="btn btn-outline-warning"
            >reservations</a
          >
        </td>
        <td>
          <a
            routerLink="/list-commentaire/restaurant/{{ r.id }}"
            routerLinkActive="active"
            class="btn btn-outline-primary"
            >Voir les commentaires</a
          >
        </td>
        <td>
          <a
            routerLink="/restau-restaurateur/edit/{{ r.id }}"
            routerLinkActive="active"
            class="btn btn-outline-primary"
            >editer</a
          >
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="delete(r.id!)">
            suppression
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-link
    etiquetteLien="nouveau restaurant"
    lien="/restau-restaurateur/add"
  ></app-link>
</div>
