<div class="p-3 m-3 bg-dark text-light center rounded position-relative">
  <h1>Reserver une table</h1>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-group">
      <label for="nbPersonne">Nombre de personne :</label>
      <input
        id="nbPersonne"
        class="form-control"
        formControlName="nbPersonne"
      />
    </div>
    <div>
      <label for="heureReservation">heure de reservation:</label>
      <select class="form-control" formControlName="heureReservation">
        <option *ngFor="let heure of heuresReservation" [ngValue]="heure">
          {{ heure }}
        </option>
      </select>
    </div>
    <h2 class="mt-4">Commander maintenant pour être servi en arrivant</h2>
    <ng-container>
      <div class="text-danger">
        Ne pas sélectionner d'item si vous souhaitez commander sur place
      </div>
      <h3 class="mt-4">Entrée</h3>
      <ng-container *ngFor="let item of items | async">
        <div *ngIf="item.categoriePlat == 'Entree'">
          <label>
            <input
              type="checkbox"
              [value]="item.id_item"
              name="item{{ item.id_item }}"
              (change)="itemReservationSurPlace($event)"
              formArrayName="selectedItems"
            />
            {{ item.nom }} - {{ item.description }}
          </label>
        </div>
      </ng-container>

      <h3 class="mt-4">Plat</h3>
      <ng-container *ngFor="let item of items | async">
        <div *ngIf="item.categoriePlat == 'Plat'">
          <label>
            <input
              type="checkbox"
              [value]="item.id_item"
              name="item{{ item.id_item }}"
              (change)="itemReservationSurPlace($event)"
              formArrayName="selectedItems"
            />
            {{ item.nom }} - {{ item.description }}
          </label>
        </div>
      </ng-container>

      <h3 class="mt-4">Dessert</h3>
      <ng-container *ngFor="let item of items | async">
        <div *ngIf="item.categoriePlat == 'Dessert'">
          <label>
            <input
              type="checkbox"
              [value]="item.id_item"
              name="item{{ item.id_item }}"
              (change)="itemReservationSurPlace($event)"
              formArrayName="selectedItems"
            />
            {{ item.nom }} - {{ item.description }}
          </label>
        </div>
      </ng-container>

      <h3 class="mt-4">Boisson</h3>
      <ng-container *ngFor="let item of items | async">
        <div *ngIf="item.categoriePlat == 'Boisson'">
          <label>
            <input
              type="checkbox"
              [value]="item.id_item"
              name="item{{ item.id_item }}"
              (change)="itemReservationSurPlace($event)"
              formArrayName="selectedItems"
            />
            {{ item.nom }} - {{ item.description }}
          </label>
        </div>
      </ng-container>
    </ng-container>
    <div class="form-group" class="mt-4">
      <label for="specification">Quelque chose à préciser ?</label>
      <input
        id="specification"
        class="form-control"
        formControlName="specification"
      />
    </div>
    <div class="mt-4">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        enregistrer
      </button>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-link"
        >annuler</a
      >
    </div>
  </form>
</div>
