<div class="p-3 m-3 bg-dark text-light center rounded position-relative">
  <h1>Reserver une table</h1>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-group">
      <label for="nom">Nom de la réservation:</label>
      <input id="nom" class="form-control" formControlName="nom" />
    </div>
    <div class="form-group">
      <label for="nbPersonne">Nombre de personne :</label>
      <input
        id="nbPersonne"
        class="form-control"
        formControlName="nbPersonne"
      />
    </div>
    <div>
      <label for="heureReservation">heure de reservation:</label>
      <select class="form-control" formControlName="heureReservation">
        <option *ngFor="let heure of heuresReservation" [ngValue]="heure">
          {{ heure }}
        </option>
      </select>
    </div>
    <ng-container>
      <div class="form-group" *ngFor="let item of items | async">
        <label>
          <input
            type="checkbox"
            [value]="item.id_item"
            name="item{{ item.id_item }}"
            (change)="itemReservationSurPlace($event)"
            formArrayName="selectedItems"
          />
          {{ item.id_item }} - {{ item.nom }} - {{ item.description }}
        </label>
      </div>
    </ng-container>
    <div class="form-group">
      <label for="specification">Quelque chose à ajouter ?</label>
      <input
        id="specification"
        class="form-control"
        formControlName="specification"
      />
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        enregistrer
      </button>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-link"
        >annuler</a
      >
    </div>
  </form>
</div>
