<h1>Reserver une table</h1>
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <label for="nom">Nom de la réservation:</label>
    <input id="nom" class="form-control" formControlName="nom" />
  </div>
  <ng-container>
    <div class="form-group" *ngFor="let item of items | async">
      <label>
        <input
          type="checkbox"
          [value]="item.id_item"
          name="item{{ item.id_item }}"
          (change)="itemReservationSurPlace($event)"
          formArrayName="selectedItems"
        />
        {{ item.id_item }} - {{ item.nom }} - {{ item.description }}
      </label>
    </div>
  </ng-container>
  <div>
    <button
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="form.invalid"
    >
      enregistrer
    </button>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-link"
      >annuler</a
    >
  </div>
</form>
