<div class="bg-dark position-absolute top-50 start-50 translate-middle rounded">
  <div class="text-light text-center">
    <h2>identifiez vous</h2>
  </div>
  <form (ngSubmit)="check(form)" #form="ngForm">
    <div class="alert alert-danger" *ngIf="showError">
      informations incorrectes
    </div>
    <div class="m-3 text-light form-group">
      <label
        >login:<input
          class="form-control"
          name="inputLogin"
          [(ngModel)]="login"
          required
          #loginCtrl="ngModel"
        />
      </label>
    </div>
    <div class="m-3 text-danger">
      <span *ngIf="loginCtrl.dirty && loginCtrl.invalid">*obligatoire</span>
    </div>
    <div class="m-3 text-light form-group">
      <label
        >mot de passe:<input
          type="password"
          name="inputPassword"
          class="form-control"
          [(ngModel)]="password"
          required
          #passwordCtrl="ngModel"
      /></label>
    </div>
    <div class="m-3 text-danger">
      <span *ngIf="passwordCtrl.dirty && passwordCtrl.invalid"
        >*obligatoire</span
      >
    </div>
    <div class="m-3 form-group">
      <button
        type="submit"
        class="btn btn-outline-primary btn-primary text-light"
        [disabled]="form.invalid"
      >
        connexion</button
      ><app-link etiquetteLien="retour acceuil" lien="/home"></app-link>
    </div>
  </form>
</div>
