<div
  class="bg-dark m-3 p-3 bg-dark text-light position-absolute top-50 start-50 translate-middle"
>
  <div class="table text-light">
    <div>
      <label for="id">id:</label>
      <input
        id="id"
        [(ngModel)]="restaurant.id"
        readonly
        class="form-control"
      />
    </div>
    <div>
      <label for="nom">Nom:</label>
      <input id="nom" [(ngModel)]="restaurant.nom" class="form-control" />
    </div>
    <div>
      <label for="horaireOuverture">Horaire d'ouverture:</label>
      <select
        id="horaireOuverture"
        [(ngModel)]="restaurant.horaireOuverture"
        class="form-control"
      >
        <option value="09h-23h">09h-23h</option>
        <option value="09h-14h/16h-23h">09h-14h/16h-23h</option>
        <option value="09h-14h/16h-00h">09h-14h/16h-00h</option>
        <option value="09h-14h/17h-00h">09h-14h/17h-00h</option>
        <option value="16h-01h">16h-01h</option>
        <option value="17h-01h">17h-01h</option>
      </select>
    </div>
    <div>
      <label for="description">description:</label>
      <textarea
        id="description"
        [(ngModel)]="restaurant.description"
        class="form-control"
      ></textarea>
    </div>
    <div>
      <label for="numero">Numero:</label>
      <input
        id="numero"
        [(ngModel)]="restaurant.adresse!.numero"
        class="form-control"
      />
    </div>
    <div>
      <label for="rue">Rue:</label>
      <input
        id="rue"
        [(ngModel)]="restaurant.adresse!.rue"
        class="form-control"
      />
    </div>
    <div>
      <label for="codePostal">Code postal:</label>
      <input
        id="codePostal"
        [(ngModel)]="restaurant.adresse!.codePostal"
        class="form-control"
      />
    </div>
    <div>
      <label for="ville">Ville:</label>
      <input
        id="ville"
        [(ngModel)]="restaurant.adresse!.ville"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <button (click)="save()" class="btn btn-outline-primary">
        enregistrer
      </button>
      <a routerLink="/restaurateur/moncompte" class="btn btn-outline-warning"
        >annuler</a
      >
    </div>
  </div>
</div>
